@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "fonts.css";

html {
    font-size: 62.5%;
}

:root {
    /* colors */
    --light-green: #08FDD8;
    --green: #03a68e;
    --text-color: #E6F1FF;
    --bg-color:  #10101A;
    --dark-text: #040c18;
    --dark-navy: #030a16aa;
    --light-navy: #112240;
    --lightest-navy: #112240;
    --shadow-color: rgba(2,12,27,0.7);
    --gray: #ffffff8b;


    /* font-sizes */
    --primary-heading: 5rem;
    --fs-xxs: 1.2rem;
    --fs-xs: 1.3rem;
    --fs-sm: 1.7rem;
    --fs-md: 1.9rem;
    --fs-lg: 2.1rem;
    --fs-xl: 2.5rem;
    --fs-xxl: 5.2rem;
    --fs-heading: 3.2rem;
    --border-radius: .4rem;
    --nav-height: 10rem;
    --nav-scroll-height: 7rem;


    /* Font-family */
    --ff-section: "Calibre","Inter","San Francisco","SF Pro Text";
    --font-grotesk: 'Space Grotesk', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --ff-chillax-r: 'Chillax-regular', sans-serif;
    --ff-chillax-b: 'Chillax-Medium', sans-serif;
    --ff-san: sans-serif, 'Montserrat Alternates';

    /* gradient */
    --gradient: linear-gradient(90deg, #00dbde, #ffdf00);
    --gradient2: linear-gradient(25deg, #00dbde, #ffdf00,#00dbde, #ffdf00);
    --project-gradient: linear-gradient(to top, #00dbde, #ffdf00)
}

/* General Styling */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: var(--ff-chillax-r);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color:var(--bg-color);
}

.container {
    /* height: 100%; */
    /* min-height: 100vh; */
    color: var(--text-color);
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: var(--bg-color);
    transition: background-color 1s
}

.scrolled {
    background-color: #171724;
}

.accent {
    color: var(--light-green);
}

.active {
    color: var(--light-green);
}

a {
    font-size: var(--fs-sm);
    color: var(--text-color);
    display: flex;
    align-items: center;
    position: relative;
    padding: .5rem;
    cursor: pointer;
    text-shadow: 0px 0px 3px #000;
}

ul {
    list-style-type: none;
}
/* End General styles */


/* Nav Styles */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: var(--fs-xl);
    color: var(--text-color);
    font-style: normal;
    font-weight: 600;
    width: 20%;
}

.primary-nav {
    width: 80%;
    display: flex;
    justify-content: end;
}

.primary-nav .main-links {
    display: flex;
    width: fit-content;
}

.primary-nav .main-links li {
    position: relative;
    padding: 1rem;
    height: fit-content;
}

.link::after, .resume-link::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform-origin: center;
    transition: all 0.35s ease-in-out 0s;
    transform: scaleX(0);
}

.link:hover::after, .resume-link:hover::after{
    transform: scaleX(1);
}

.resume-link{
    background-color: var(--light-navy);
    padding-block: 2px;
}

/* mobile nav */
.mobile-nav{
    display: none;
    width: 50%;
    background-color: #322f5a;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
}

.menu-btn{
    display: none;
    padding: .3rem;
    cursor: pointer;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 3.5rem;
    background-color: var(--text-color);
    gap: .5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 99999;
}
.menu-btn>*{
    width: 90%;
    height: .2rem;
    background-color: var(--bg-color);
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    transform-origin: 1px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    gap: 3rem;
    height: 80%;
}

.menu ul{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.menu li{
    font-weight: 700;
    cursor: pointer;
    color: var(--dark-text);
    transition: all 0.3s ease-in-out;
    /* border-bottom: 1px solid var(--light-navy); */
    width: 100%;
    font-size: var(--fs-xxl);
    font-family: 'grandslang-roman';    
    padding-block: .6rem;
}

.mobile-social-icons {
    display: none;
}

.mobile-socials a {
    color: var(--dark-text) !important;
}

/* End mobile nav */
svg {
    fill: var(--dark-text);
    width: 2.4rem;
    height: 2.4rem;
    text-shadow: 0px 0px 5px rgb(40, 40, 40);
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color);
    position: fixed;
    gap: 1rem;
    top: 50%;
    left: 0;
    writing-mode: vertical-lr;
    padding: 0.3rem;
}
 

.social-icons svg:hover {
    fill: var(--light-green);
    transition: 0.3s;
}

.cursor {
    position: fixed;
    top: 14%;;
    right: 25%;
    color: var(--text-color);
    font-size: .8rem;
    user-select: none;
    pointer-events: none;
    width: .7rem;
    height: .7rem;
    background-color: var(--text-color);
    border-radius: 50%;
    animation: rotation 4.5s infinite linear;
    transition: top 0.1s, left 0.1s;
    transition-timing-function: ease-out;
    z-index: 342452;
}

.cursor span {
    font-family: var(--font-grotesk);
    position: absolute; 
    top: -40px;
    text-transform: uppercase;
    display: inline-block;
    transform-origin: 5px 45px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/* End Nav styles */


/* Hero section styles */
.home-section {
    display: flex;
    flex-direction: column;
    padding: 6.5rem 1rem 1rem 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.hero-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.home-section .desc {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--ff-chillax-r);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.home-section .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-inline: 10px
}

.home-section .intro div {
    font-weight: 700;
    display: flex;
    line-height: 1;
    align-items: center;
    letter-spacing: -.15rem;
    font-size: clamp(4rem, 6vw, 6.5rem);
}

.home-section .intro div span {
    font-family: 'grandslang-roman'!important;
}

.home-section .intro div:nth-child(1) span:nth-child(8), .home-section .intro div:nth-child(2) span:nth-child(1), .home-section .intro div:nth-child(2) span:nth-child(10) {
    padding-right: 2rem
}

.home-section .intro div span:hover{
    color: var(--light-green);
    animation: animate 0.8s ease-in-out forwards;
  }
  
  @keyframes animate {
    0%{
      transform: scale3d(1, 1.1);
    }
    30%{
      transform: scale3d(1.25, 0.75, 1);
    }
    40%{
      transform: scale3d(0.75, 1.25, 1);
    }
    50%{
      transform: scale3d(1.15, 0.85, 1);
    }
    65%{
        transform: scale3d(0.95, 1.05, 1);
    }
    75%{
        transform: scale3d(1.05, 0.95, 1);
    }

    100%{
        transform: scale3d(1, 1, 1);
      }
  } 

.hero-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50rem;
    margin-top: 1.5rem;
    gap: 5px;
}

.hero-links a {
    width: fit-content;
    color: var(--gray);
    gap: .7rem;
}

.hero-links a i {
    font-size:1.2rem;
}
.greet {
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;;
    font-size: 18.4rem;
    position: fixed;
    bottom: .5rem;
    left: -5rem;
    letter-spacing: -.4rem;
    text-transform: capitalize;
    font-weight: 400;
    color: #131320;
    transition: all 0.8s ease 0s;
    opacity: 1;
    z-index: -1;
}

/* About section styles */
.about-section {
    display: flex;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    /* position: relative; */
}

.about-section .about-content{
    padding: 15rem 6rem 0rem 10%;
    width: 72%;
}

.subtitle{
    font-size: 8rem;
    font-weight: 900;
    font-family: 'grandslang-roman';
    font-size: clamp(4rem, 6vw, 8.4rem);
}

.about-section .about-content h3{
    font-size: clamp(2rem, 2.4vw, 3.4rem);
    font-weight: 900;
    font-family: 'grandslang-roman';
    margin-top: 3rem;
    letter-spacing: .1rem !important;
}

.about-section .abt-img {
    background-image:  url(../assets/media/about-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 1rem ;
    width: 31.6rem;
    height: 70vh;
    position: fixed;
    margin: auto;
    font-size: 1.4rem;
    top: 7rem;
    right: 0;
}

.about-section p {
    width: 95%;
    padding-block: 1.3rem;
}

.square-ul-list {
    list-style-type: circle !important;
    padding-left: 20px
}

.skills-wrapper {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 3.5rem;
}

.skills {
    min-width: 100px;
}

.skills-section h2 {
    font-family: "grandslang-roman";
    font-size: 3.5rem !important;
    margin-top: 4rem;
}

.skills-section h3 {
    font-size: 2rem !important;
    margin: 2rem 0rem 1rem 0rem !important;
}

.tools {
    max-width: 180px;
}
/* End About styles */

.projects-section {
    flex-direction: column;
    padding-block: 12rem; 
    align-items: center;
    gap: 5rem;
    position: relative;
}

.projects-section h2 {
    align-self: flex-start;
    margin-left: 10rem;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.categories {
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 2rem;
}

.categories li {
    position: relative;
    padding: 5px;
    cursor: pointer;
    /* font-size: clamp(1.6rem, 3.4vw, 1.6rem); */
}

.projects {
    display: flex;
    width: 80%;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    flex-wrap: wrap;
}

.project  {
    position: relative;
    flex: 1;
    min-width: 33rem;
    max-width: 50%;
    height: 30rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.project img {
    width: 100%;
    height: 100%;
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to top, #0808088d 70%, #212b2c00);
    padding: 2rem;
    display: none;
    /* transform-origin: top;
    transition:ease-in-out 6s; */
}

.tech-preview {
    padding: 2px 4px;
    background-color: darkcyan;
    border-radius: 5px;
}

.spanCategory {
    font-size: var(--fs-sm);
    font-weight: 400;
}

.project-links {
    display: flex;
    gap: 1rem
}

/* Model  styles */
.modal {
    display: none;
    background-color: white;
    height: 100vh;
    width: 50%;
    color: black;
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 13;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.modal-show {
    display: block;
}

.modal-header {
    display: flex;
    align-items: center;
    padding-block: 8px;
    position:fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    gap: 10px;
    /* box-shadow: 1px 0px 0px 0px rgb(40, 40, 40); */
}

.modal img {
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}

.modal-header .modal-title {
    font-size: var(--fs-md);
    text-align: center;
}

.modal .modal-close-btn{
    font-size: var(--fs-xl);
    object-fit:contain;
    padding-inline: 5px;
    background-color: transparent;
    margin-top: -4px;

}

.modal-subtitle {
    margin-top: 20px;
    margin-bottom: 4px;
}
.modal button:hover {
    color: var(--light-green);
}

.modal .modal-links {
    align-self: flex-start;
    display: flex;
    gap: 15px;
}

.modal .technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal .technologies .project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    width: 80%;
}

.modal .technologies .project-skills span {
    padding: 5px ;
    background-color: rgb(208, 208, 210);
    border-radius: 5px;
    font-size: var(--fs-xs);
    margin-bottom: 2px;
}

.functionalities {
    margin-bottom: 10px;
}

.modal-links a {
    font-weight: 500;
    font-size: var(--fs-xs);
    text-shadow: none;
    background-color: var(--dark-navy);
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
    transition: .4s;
}

.modal-links a:hover {
    background-color: var(--green);
}
/* End of project model styles */


/* Blog section styles */
.blog-section {
    width: 100%;
    flex-direction: column;
    margin-top: 11rem;
    align-items: center;
    gap: 1rem;
}

.blog-page-title {
    padding-bottom: 3rem;
}

.blogs-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
}

.blog-post {
    display: flex;
    align-items: start;
    gap: 10px;
}

.blog-post img {
    width: 25%;
    height: 150px;
    max-height: 200px;
}

.blog-post .blog-post-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 72%;
}

.blog-post .blog-post-content h2 {
    font-size: var(--fs-md);
    font-weight: 900;
}

.blog-post .blog-post-content p {
    font-size: 1.5rem;
}

.blog-post .blog-post-content a {
    padding: 3px 5px;
    text-shadow: none;
    font-size: var(--fs-xs);
    background-color: var(--green);
    width: fit-content;
    border-radius: .8rem;
    margin-top: 1.3rem;
}

.side-bar {
    border-left: 1px solid var(--gray);
    padding-left: 1.5rem;
    width: 23%;
}

.side-bar .title {
    margin-bottom: 1.5rem;
}

.side-bar .blog-post {
    flex-direction: column;
}

.side-bar .blog-post .blog-post-content, .side-bar .blog-post img {
    width: 100%;
}

.side-bar .blog-post .blog-post-content h2 {
    font-size: 1.4rem;
}

.side-bar .blog-post .blog-post-content p {
    font-size: var(--fs-xs);
}

.blogDetails-section {
    width: 100%;
    margin-top: 11rem;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.blog-details {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    width: 70%;
}

.blog-details img {
    width: 100%;
}

.contact-section {
    flex-direction: column;
    align-items: center;
    margin-top: 11rem;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-width: 40rem;
    padding: 2.2rem;
    gap: 1.3rem;
}

.contact-section form input, textarea {
    backdrop-filter: blur(2rem);
    color: var(--text-color);
    background-color: var(--bg-color);
    width: 100%;
    padding: 1.8rem;
    border: 1px solid #2b2b32;
    border-radius: var(--border-radius)
}

.contact-section form textarea {
    min-height: 15rem;
}

.contact-section form input[type= submit] {
    background-color: #fff;
    color: var(--dark-text);
    font-weight: 600;
    border: none;
    cursor: pointer;;
}

.contact-section form input:focus, textarea:focus {
    border-color: #fff;
}

@media (max-width: 830px){
    .hero-content .desc {
        padding: 2rem;
        width: 95%;
    }
    .about-section .about-content{
        padding: 12rem 2rem;
        width: 60%;
    }
    .about-section .abt-img {
        width: 40%;
        height: 40vh;
    }
    .primary-nav{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .blog-details {
        gap: 2.5rem;
        width: 90%;
    }
    .project {
        max-width: 100%;
    }
    .modal {
        left: 30%;
        top: 0;
        width: 70%;
    }
    .mobile-social-icons {
        display: flex;
        margin-top: 10px;
    }
    svg {fill: #E6F1FF ;} 
} 


@media (max-width: 550px){

    .about-section .about-content{
        margin-block: 2rem;
        width: 100%;
    }

    .about-section .abt-img {
        position: relative;
        width: 90%;
        border-radius: var(--border-radius);
        margin-top: 4rem
    }
    .about-section {
        flex-direction: column-reverse;
    }
    .project {
        height: 25rem;
        width: 100%;
    }
    .projects {
        width: 90%;
    }
    .projects-section .subtitle  {
        margin-left: 2.3rem !important;
    }
    .contact-section form {
        min-width: 100%;
    }
    .modal {
        left: 20%;
        top: 0;
        width: 80%;
    } 
} 